analytics-workflow/state-machine/analyzer.asl.json
{
    "Comment": "A state machine that performs analytics on url",
    "StartAt": "Route Events",
    "States": {
        "Route Events": {
            "Type": "Task",
            "Next": "Scrape Product Page",
            "Resource": "${RouteEventsFunctionArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "Handle Error"
                }
            ]
        },
        "Scrape Product Page": {
            "Type": "Task",
            "Next": "Summarize Product Details",
            "Resource": "${ScrapeProductPageFunctionArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "Handle Error"
                }
            ]
        },
        "Summarize Product Details": {
            "Type": "Task",
            "Next": "Extract Keywords",
            "Resource": "${SummarizeProductDetailsFunctionArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "Handle Error"
                }
            ]
        },
        "Extract Keywords": {
            "Type": "Task",
            "Resource": "${ExtractKeywordsFunctionArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "Handle Error"
                }
            ],
            "Next": "Brightdata Callback"
        },
        "Brightdata Callback": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${BrightdataCallbackFunctionArn}",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "input.$": "$"
                }
            },
            "Next": "Rank Videos",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.errorInfo",
                    "Next": "Handle Error"
                }
            ]
        },
        "Rank Videos": {
            "Type": "Task",
            "Resource": "${RankVidsFunctionArn}",
            "End": true
        },
        "Handle Error": {
            "Type": "Task",
            "Resource": "${HandleErrorFunctionArn}",
            "Next": "Fail State"
        },
        "Fail State": {
            "Type": "Fail"
        }
    }
}