analytics-workflow/state-machine/validator.asl.json
{
  "Comment": "A state machine that performs analytics on url",
  "StartAt": "Route Events",
  "States": {
    "Route Events": {
      "Type": "Task",
      "Next": "Scrape Product Page",
      "Resource": "${RouteEventsFunctionArn}"
    },
    "Scrape Product Page": {
      "Type": "Task",
      "Next": "Summarize Product Details",
      "Resource": "${ScrapeProductPageFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Handle Error"
        }
      ]
    },
    "Summarize Product Details": {
      "Type": "Task",
      "Next": "Extract Keywords",
      "Resource": "${SummarizeProductDetailsFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Handle Error"
        }
      ]
    },
    "Extract Keywords": {
      "Type": "Task",
      "Resource": "${ExtractKeywordsFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Handle Error"
        }
      ],
      "End": true
    },
    "Handle Error": {
      "Type": "Task",
      "Resource": "${HandleErrorFunctionArn}",
      "Next": "Fail State"
    },
    "Fail State": {
      "Type": "Fail"
    }
  }
}